.profile-menu {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  border: 2px solid white;

}

.menu-button {
  font-weight: bold;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: 25px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.menu-options {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #000000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 120px;
  z-index: 1;
  font-weight: bold;
}

.menu-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-options li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.menu-options li:hover {
  background: #d43737;
}