.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}

.team-card {
  background-color: #ffffff;
  width: 23%;
  margin: 1%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.team-picture img {
  width: 200px;
  height: 100px;
  object-fit: contain;
  margin: 0 auto 10px;
}

.team-info{
  padding-top: 6px;
}

.team-info h5 {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .team-card {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .team-card {
    width: 100%;
  }
}
  